{% extends 'base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block content %}

   

    <form method="POST" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        
        <!-- Profile Picture -->
        <div class="mb-3">
            <label for="profile_picture" class="form-label">Profile Picture:</label>
            <input type="file" name="profile_picture" id="profile_picture" class="form-control" accept="image/*" >
        </div>

        <!-- Username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}" class="form-control" required>
        </div>

        <!-- Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" value="{{ user.first_name }} {{ user.last_name }}" class="form-control" required>
        </div>

        <!-- Bio -->
        <div class="mb-3">
            <label for="bio" class="form-label">Bio:</label>
            <textarea name="bio" id="bio" class="form-control" rows="3">{{ user.bio }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <div class="mt-4">
        <a href="{% url 'profile_view' user.username %}" class="btn btn-secondary">Back to Profile</a>
    </div>

{% endblock %}
